{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>종목명</th>
            <th>감정</th>
            <th>종토방</th>
        </tr>
        </thead>
        <tbody>
            {% for stock in stockData %}
            <h1>Stock_Emo!</h1>
            <ul>
                <li>{{ stock.stock }}</li>
                <li>{{ stock.feeling }}</li>
                <li>{{ stock.comments }}</li>
            </ul>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}