{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>종목명</th>
            <th>감정</th>
            <th>종토방</th>
        </tr>
        </thead>
        <tbody>
            {% for stock in stockData %}
            <tr>
                <td>{{ stock.stock }}<img src="/static/logos/{{ stock.stock }}.png" width="100" height="100"></td>
                <td>{{ stock.feeling }}<img src="/static/emotions/{{ stock.feeling }}.png" width="100" height="100"></td>
                <td>{{ stock.comments }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}